################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FgrApi/.vs
/FgrApi/CommonInterfaces/bin/Debug/net8.0
/FgrApi/CommonInterfaces/obj
/FgrApi/FGR.Api/.config
/FgrApi/FGR.Api/bin/Debug/net8.0
/FgrApi/FGR.Api/obj
/FgrApi/FGR.Application/bin/Debug/net8.0
/FgrApi/FGR.Application/obj
/FgrApi/FGR.Common/bin/Debug/net8.0
/FgrApi/FGR.Common/obj
/FgrApi/FGR.Domain/bin/Debug/net8.0
/FgrApi/FGR.Domain/obj
/FgrApi/FGR.Infrastructure/bin/Debug/net8.0
/FgrApi/FGR.Infrastructure/obj
/FgrApi/CommonConverters/obj
/FgrApi/CommonConverters/bin/Debug/net8.0
/FgrApi/Authorization.Lib/obj/Debug/net8.0
/FgrApi/Authorization.Core/bin/Debug/net6.0
/FgrApi/Authorization.Core/obj
/FgrApi/Authorization.Lib/obj
/FgrApi/Authorization.SSO/.config
/FgrApi/Authorization.SSO/.vs/Authorization.SSO
/FgrApi/Authorization.SSO/obj
/FgrApi/Authorization.SSO/Properties/PublishProfiles
/FgrApi/Authorization.SSO/Properties
