@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="panel login center m-auto">
    <div class="page-header text-center">
        Test SSO application
    </div>
    <div class="panel-heading text-center">
        <b>Forgot your password</b>
    </div>
    <div class="panel-body p-2">
        <form method="post">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control mb-2" />
                <div class="text-center"><span asp-validation-for="Input.Email" class="text-danger"></span></div>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-right">
                <button type="submit" class="btn btn-default">Email Link</button>
                </div>
                <div class="col-6 text-left">
                <a asp-page="./login" class="btn p-2 btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer text-center">
        <p>Please contact us via email if you need support.</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
