@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="panel login center m-auto">
    <div class="page-header text-center">
        Test SSO application
    </div>
    <div class="panel-body">
        <div class="pl-5 pr-5 pb-3 mt-5 panel-heading text-center">
            Please check your email to reset your password. For back to login page please click <a asp-page="./login">here</a>.
        </div>
    </div>
</div>


