@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="panel login center m-auto">
    <div class="page-header text-center">
        <img width="250" src="~/img/logotypeProsmarNew.png">
    </div>
    <div class="panel-body">
        <div class="pl-5 pr-5 pb-3 mt-5 panel-heading text-center">
            Your password has been reset. Login application again, please click <a asp-page="./login">here</a>.
        </div>
    </div>
</div>