@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset your password";
}

<div class="panel login center m-auto">
    <div class="page-header text-center">
        <img width="250" src="~/img/logotypeProsmarNew.png">
    </div>
    <div class="panel-heading text-center">
        <b>@ViewData["Title"]</b>
    </div>

    <div class="panel-body p-2">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <div class="text-center"><span asp-validation-for="Input.Email" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <div class="text-center"><span asp-validation-for="Input.Password" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <div class="text-center"><span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span></div>
            </div>
             <div class="text-center">
                <button type="submit"
                        class="btn btn-default">
                    Reset
                </button>
            </div>
        </form>
    </div>
    <div class="panel-footer text-center">
        <p>Please contact us via email risk.support@prosmar.com if you need support.</p>
    </div>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
